

#player_panel {
    width : 500px;
    height : 200px;
    background-color: greenyellow;
    margin:  0 auto;            /* 中央寄せ */
}

#enemy_panel {
    width : 500px;
    height : 200px;
    background-color: red;
    margin:  0 auto;            /* 中央寄せ */
    
}

#controller_panel {
    width : 500px;
    height : 100px;
    background-color: burlywood;
    margin:  0 auto;            /* 中央寄せ */

}

#battle_log {
    width: 500px;
    max-height: 200px;
    background-color: white;
    color: limegreen;
    margin:  0 auto;            /* 中央寄せ */
    overflow: auto;
}

.good {
    color: lightgreen;
}

.bad {
    color: darkred;
}

.alert {
    color: gold;
}



.card{
    width : 190px;
    height: 190px;
    background-color: white;
    float: left;
    margin: 5px;
    text-align: center;         /*内部要素を中央寄せ*/
    vertical-align: middle;         /*内部要素を中央寄せ*/
}

.status {
    width : 290px;
    height: 190px;
    background-color: darkgray;
    float: left;
    margin: 5px;
}